.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 165px);

  .login-form-container{
    background-color: #e6fdff;
    border-radius: 44px;
    padding: 30px;
    width: 495px;

    .form-group {
      background-color: white;
      
      .form-control-textFiled {
        width: 435px;
      }
      
      input {
        background-color: white;
        width:  370px;
      }
    }
    .btn-signin {
      padding: 10px 50px;
      font-size: 25px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      color: white;
      background-color: #da45ff;
      font-weight: 600;
    }

    .btn-signin:focus {
      outline: none;
    }
  }
}

.form-signin {
  // height: 100vh;

  // background-image: url("../../Assets/Images/sigin-background-image.jpg");
  background-color: #ffffff;
  // background-color: #eef1f9;
  color: #4e5e6a;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13.5px;
  -webkit-font-smoothing: antialiased;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  overflow-x: hidden;
  height: 100vh;

  .form-card {
    .MuiGrid-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

      .grid-first {
        img {
          border-radius: 12px;
          margin-left: 230px;
        }
      }
    }

    .MuiGrid-item {
      padding-left: 0%;
    }

    .MuiPaper-elevation {
      border-radius: 12px;
      border: 1px #676767;
      border-style: solid;
      .account-signup {
        display: flex;
        justify-content: center;
      }
    }

    .MuiFormControl-root {
      width: 100%;

      .MuiInputLabel-root {
        color: #193c98 !important;
      }
      .Mui-focused {
        color: #193c98 !important;
      }
      .MuiOutlinedInput-notchedOutline {
        border-color: #193c98 !important;
      }

      .MuiFilledInput-root {
        border-bottom: 1px solid #193c98 !important;
      }

      .MuiInput-root {
        border-bottom: 1px solid #193c98 !important;
      }

      .form-control-textFiled {
        font-size: 14px;
        background-color: #f6f8f9;
        color: #4e5e6a;
        box-shadow: none;
        transition: background 0.5s;
      }

      .btn-primary {
        border-color: #193c98;
        background-color: #193c98;
      }
    }

    .forgot-pass {
      a {
        color: #6071bd !important;
        text-decoration: none;
      }
    }
    .have-account {
      color: #29689e;
      text-decoration: none;
    }
  }

  .card-header {
    background-color: #fff;
    color: inherit;
    font-weight: bold;
    border-color: #eef6f9;
    padding: 12px 16px;
    border: none;

    .MuiCardHeader-title {
      margin: 10px 0;
      color: #193c98;
      font-weight: 600;
      font-size: 30px;
    }
  }
  .card-header:first-child {
    border-radius: 5px 5px 0 0;
  }

  .btn-primary {
    color: #fff;
    background-color: #183a99;
    border-color: #007bff;
    margin-left: 50%;
  }
  //  Mobile devices
  @media (max-width: 480px) {
    .form-signin {
      // background-color: #de3163;
    }
    .grid-first {
      display: none !important;

      img {
        margin-left: 0px !important;
      }
    }

    .MuiPaper-elevation {
      width: 100%;
    }
  }

  // iPads, Tablets
  @media (max-width: 768px) {
    .grid-first {
      display: none !important;
      img {
        margin-left: 0px;
      }
    }
  }

  // Small screens, laptops
  @media (max-width: 1024px) {
    .grid-first {
      img {
        border-radius: 12px;
        margin-left: 60px !important;
        height: 312px;
      }
    }
  }

  // Desktops, large screens
  @media (max-width: 1200px) {
    .grid-first {
      img {
        border-radius: 12px;
        margin-left: 100px !important;
        height: 312px;
      }
    }
  }

  @media (max-width: 1919px) {
    .grid-first {
      img {
        border-radius: 12px;
        margin-left: 100px !important;
      }
    }
  }
}
