.btn-confirm {
    background: #4567ff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 35px;
    color: white;
    border: none;
    cursor: pointer;
}
