.review-card-container {
    background: #ffffff;
    border: 1px solid rgba(35, 47, 108, 0.51);
    box-shadow: 0px -1px 7px 1px rgba(29, 21, 80, 0.12);
    border-radius: 20px;
    width: 100% !important;
    button:focus {
        outline: none;
    }

    button:disabled {
        cursor: not-allowed !important;
    }
    
    .header {
        .user-name {
            color: #00448b;
            font-size: 20px;
            font-weight: 600;
            max-width: 400px;
        }

        .company-name {
            font-size: 13px;
            color: #798796;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-transform: uppercase;
        }
        .time-lable {
            font-size: 13px;
            color: #A38D8D;
        }
        .thumsup-icon {
            color: #541495 !important;
        }
    }

    .review-img-container {
        display: flex;
        bottom: 0;
        justify-content: flex-start !important;
        
        .review-img {
            height: 50px;
            width: 50px;
            border: 1px solid rgb(165, 165, 165);
            border-radius: 3px;
        }
    }
}
.text-editor{
    height: 220px;
    overflow-y: auto;
}
.review-card-container:hover {
    outline: 2px solid rgb(0, 0, 104);
    cursor: pointer;
}

.more-box-view {
    display: flex;
    background-color: #e1dbdb;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    align-items: center;
    border: none;
    justify-content: center;
    cursor: pointer;
}

.more-box-view:hover,
.more-box-view:active {
    background-color: #e1dbdb;
}

.btn-view {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.more-text{
    font-weight: bold;
    color: #928585;
}

.swiper-block{
    user-select: none;
}

.review-text.min-height-wrap{
    min-height: 50px;
}

.break-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
@media (min-width: 1100px) and (max-width: 1640px) {
    .review-card-container .header .user-name {
        color: #00448b;
        font-size: 17px;
        font-weight:600;
        max-width: 410px;
    }
}

  