.main-hom-view {
  .container {
    // width: 40%;
    // border: 1px solid #676767;
    // border-radius: 20px;
    // height: 100vh;

    .MuiGrid-container {
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 100vh;

      // .grid-first {
      //   img {
      //     border-radius: 12px;
      //     margin-left: 230px;
      //   }
      // }
    }

    .MuiPaper-elevation {
      border-radius: 12px;
      border: 1px #676767;
      border-style: solid;
      .account-signup {
        display: flex;
        justify-content: center;
      }
    }

    .card-header {
      background-color: #fff;
      color: inherit;
      font-weight: bold;
      border-color: #eef6f9;
      padding: 12px 16px;
      border: none;

      .MuiCardHeader-title {
        margin: 10px 0;
        color: #193c98;
        font-weight: 600;
        font-size: 30px;
      }
    }

    .input-group {
      width: 118%;
    }

    .text-center {
      color: #002fa5;
      font-weight: 700;
      // margin-bottom: 25px;
    }

    .border {
      border: 1px solid #002fa5 !important;
      border-radius: 10px;
    }
    .form-control:focus {
      box-shadow: none;
    }

    .form-control-underlined {
      border-width: 0;
      border-bottom-width: 1px;
      border-radius: 0;
      padding-left: 0;
    }

    .form-control::placeholder {
      font-size: 0.95rem;
      color: #aaa;
      font-style: italic;
    }

    .text-info {
      color: #434142 !important;
    }

    .error {
      margin-top: -22px;
      font-size: 14px;
      color: red;
    }

    .btn-primary {
      height: 45px;
      font-size: 18px;
      border-color: #007bff;
      background-color: #183a99;
      color: #fff;
    }

    .table-view {
      .MuiTableCell-head {
        background-color: #8ba6e6;
        color: #fff;
      }
    }
  }
}
