.gst-card-container {   
    background: #ffffff;
    border: 1px solid rgba(35, 47, 108, 0.51);
    box-shadow: 0px -1px 7px 1px rgba(29, 21, 80, 0.12);
    border-radius: 20px;
    font-size: 20px;

    .company-name {
        text-transform: uppercase;
        color: #00448b;
    }
    
    .company-addr {
        color: #00448b;
        text-transform: capitalize;
    }

    .break-line-1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .verified-mark {
        .MuiSvgIcon-root {
            color: green;
        }
    }
}

.gst-card-container:hover {
    outline: 2px solid rgb(0, 0, 104);
    cursor: pointer;
}
