// .header-container {
//     padding: 5px 20px;
//     height: 55px;
//     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
// }

.MuiAppBar-root {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87) !important;

  .MuiButtonBase-root {
    color: rgba(0, 0, 0, 0.87) !important;
  }

  button:focus {
    outline: none !important;
  }
  @media (max-width: 480px) {
    .MuiButtonBase-root {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
