.my-review-container {
  font-family: "Outfit";

  .modal-content {
    .css-jue3ft-MuiRating-root {
      color: #4cbe24 !important;
    }

    .write-review-title h2 {
      color: #00448b;
      font-weight: 600;
    }

    .review-textarea {
      background-color: #f3ecec;
      border: none;
      border-radius: 15px;
      resize: none;
      padding: 20px;
    }

    .review-textarea:focus {
      outline: none;
    }

    .btn-container {
      button {
        border: none;
        color: white;
        font-weight: 600;
        padding: 10px 20px;
        font-size: 20px;
        text-transform: uppercase;
        border-radius: 15px;
        cursor: pointer;
      }

      button:focus {
        outline: none;
      }

      .btn-cancel {
        background: #bfb7c0;
      }

      .btn-submit {
        background: #da45ff;
      }
    }
  }

  .search-bar {
    font-size: 18px;
    text-transform: uppercase;
    width: calc(32ch);
    border: 2px solid rgb(211, 211, 211);
    border-radius: 15px;
    margin-right: 4px;
    height: 50px;
    outline: none;
  }
  .search-bar:focus {
    outline: 2px solid rgb(95, 95, 95);
  }

  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: auto;
    border-radius: 5px;
  }

  .css-nz481w-MuiInputBase-input-MuiInput-input {
    padding-left: 10px!important;
    color: rgb(97, 82, 82) !important;
    font-size: 18px;
    font-family: 'outfit';
    letter-spacing: normal;
    text-transform: uppercase;
  }

  fieldset {
    border: none !important;
    outline: none !important;
  }

  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 2px;
  }

  .filterDropdown {
    width: calc(28ch);
    margin-left: 3px;
    text-align: left;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 15px;
    margin-right: 4px;
    height: 50px;
  }

  .filterDropdown:focus {
    outline: 2px solid rgb(95, 95, 95);
  }

  .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    color: gray !important;
    font-family: 'outfit';
  }

  .btn-search {
    padding: 10px;
    font-size: 18px;
    vertical-align: baseline;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    color: white;
    margin-left: 3px;
    background-color: #da45ff;
  }

  .title-container {
    display: flex;
    justify-content: start;
    align-items: center;

    .MuiButtonBase-root {
      color: black;
      padding: 5px 40px !important;
      text-transform: capitalize !important;
      font-size: 20px !important;
    }

    .Mui-selected {
      background-color: #ebd233 !important;
      color: black !important;
    }

    .MuiButtonBase-root:focus {
      outline: none !important;
    }
  }

  //  Mobile devices
  @media (min-width: 300px) and (max-width: 400px) {
    .title-container {
      display: block;
    }

    .MuiButtonBase-root {
      margin: -2px;
    }

    .title-container {
      .MuiButtonBase-root {
        padding: 5px 20px 5px 20px !important;
        margin: 0;
      }
    }

    .filter-Conatiner {
      .search-bar {
        margin: auto;
        margin-bottom: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .filterDropdown {
        margin: auto;
        display: flex;
        margin-bottom: 4px;
        justify-content: center;
        align-items: center;
      }

      .btn-search {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  //mobile screen 
  @media (min-width: 401px) and (max-width: 480px) {
    .title-container {
      display: block;
    }

    .MuiButtonBase-root {
      margin: -2px;
    }

    .filter-Conatiner {
      .search-bar {
        margin: auto;
        margin-bottom: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .filterDropdown {
        margin: auto;
        display: flex;
        margin-bottom: 4px;
        justify-content: center;
        align-items: center;
      }

      .btn-search {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  //tablet screen
  @media (min-width: 480px) and (max-width: 615px) {
    .title-container {
      display: block;
    }

    .MuiButtonBase-root {
      margin: -2px;
    }
  }

  //for tablet, laptop and medium screen
  @media (min-width: 1100px) and (max-width: 1640px) {
    .MuiButtonBase-root {
      margin: -2px;
    }

  }
}

.my-reviews-div {
  .container-div {
    height: calc(100vh - 100px);
    margin-top: 100px;

    .main-div {
      .MuiBox-root {
        padding: 0%;
      }
    }
  }
}